#page {
    width: 100%;
}

#center {
    background-color: bisque;
    margin: auto;
    width: 80%;
    height: 100vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

#header {
    border-radius: 10px 10px 0px 0px;
    border-width: 3px;
    border-style: solid;
    margin: -3px;
}

#menuBar {
    text-align: left;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    margin: 0 0 -3px 1px;
}


li {
    border-color: black;
    background-color: azure;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    color: red;
    display: inline-block;
    margin: -3px -4px 0 -4px;
}

.headerItems {
    display: inline-block;
}

#userInfo {
    border-radius: 0 10px 0 0;
    border: solid;
    margin: -3px;
    float: right;
    padding: 0 20px 0 0;
    text-align: center;
}

li:hover {
    background-color: darkgray;
}

a {
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
}

#frame {
    border-radius: 20px;
    padding: 30px;
    background-color: orange;
    border: solid black;
    display: inline-block;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

table {
    align-items: center;
    margin: 0 auto;
}