#userInfo {
    border-radius: 10px;
    border-width: thin;
    border: solid;
    text-align: center;
}

.container form {
    text-align: center;
}

.center form {
    display: table;
    margin: 0 auto;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
#content {
    height: 100%;
    background-color: #CCCCCC;
}
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        color: LightBlue;
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        color: LightBlue;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

#dialog {
    margin-top: 20px;
    border: 2px solid grey;
}

#dialog input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
}

#dialog button {
    margin-bottom: 30px;
}